__pycache__
*.pyc
.env
.venv
.vscode
.idea
*.json
*.pt
.pth
*.tar.gz
*.zip
*.rar
*.7z
*.swp
*.swo
*.bak
*.orig
*.rej
*.pyo
*.pyd
*.so
*.dll
*.exe
*.out
*.o
*.a
*.lib
*.obj
*.models
random/
*rd.py
*.html
*.json
*.log
*.png
